
<h3>Log in</h3>
<img src="https://redditupvoted.files.wordpress.com/2013/06/537b7-dailydraw.png?w=720" width="100", height="auto">
<%= render 'shared/errors' %>
<%= render 'shared/form', action: session_url %>
